<% if (user) { %>
  <h1>Current logged in user: <%=user.email %> </h1>
  <form action='/logout' method='post'>
    <input type='submit' value="Logout">
  </form>
<% } else { %>
  <div>
    <form action='/login'>
      <input type="submit" value='Login'>
    </form>
  </div>
  <div>
    <form action='/register'>
      <input type="submit" value='Register'>
    </form>
  </div>
<% } %>
<hr>
