<!DOCTYPE html>
<html lang='en'>

  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='css/login-register-page-style.css' />
    <title>Tiny App</title>
  </head>

  <body>
    <h3>Please log in or register here:</h3>
      <form action="/register">
        <input style="width:100px" type="submit" value="Register">
      </form>
    <div>
      <form action='/login' method='post'>
        <label for='email'>Email:</label>
        <input type='email' id='email' name='email' placeholder='Your Email Address..'>

        <label for='password'>Password</label>
        <input type='password' id='password' name='password'>

        <input type='submit' value='Login'>
      </form>
    </div>
  </body>

</html>
