<!DOCTYPE html>
<html lang='en'>

  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Tiny App</title>
  </head>

  <body>
    <header>
    <% include ./partials/_header %>
    </header>
    <h1>Tiny App</h1>
    <ul>
      <% for(var item in urls) { %>
        <li>
          <p><%= item %> =======> <%= urls[item].long_url %></p>
          <form action='/urls/<%= item %>'>
            <input type='submit' value='Edit'>
          </form>
          <form action='/urls/<%= item %>/delete' method='post'>
            <input type='submit' value='Delete'>
          </form>
        </li>
      <% } %>
    </ul>
  </body>

</html>
